#DHT and PEX configuration - If you use private trackers the torrents have private flag, so you can safely leave these enabled in most cases
dht.mode.set = auto
schedule2 = dht_node, 3, 0, "dht.add_node=dht.libtorrent.org:25401"
schedule2 = dht_node, 3, 0, "dht.add_node=dht.transmissionbt.com"
schedule2 = dht_node, 3, 0, "dht.add_node=router.utorrent.com"
schedule2 = watch_directory,15,1,"load.start_verbose=~/watch/*.torrent"
schedule2 = untied_directory,10,10,stop_untied=
schedule2 = rss,0,1800,"execute={sh,-c,php ~/www/rutorrent/plugins/rss/update.php& exit 0}"
schedule2 = last_scrape_s, 0, 1800, "d.multicall2=main,d.tracker.send_scrape=0"
schedule2 = scgi_permission,0,0,"execute.nothrow=chmod,770,~/.rtorrent.socket"

protocol.pex.set = yes

system.daemon.set = true

try_import = .rtorrent.rc.custom
log.open_file = "rtorrent.log",(cat,/home/mjorgensen/data/rTorrent/rtorrent.log.,(system.pid))
log.add_output = "debug", "rtorrent.log"
log.add_output = "info", "rtorrent.log"
log.add_output = "notice", "rtorrent.log"
log.add_output = "warn", "rtorrent.log"
log.add_output = "error", "rtorrent.log"

import = /home/mjorgensen/.rtorrent.rc.custom

directory = /home/mjorgensen/Torrents
session = /home/mjorgensen/data/rTorrent/session
encryption = allow_incoming,enable_retry,prefer_plaintext


## Following user should not change in any case - basic config & performance options etc.

pieces.memory.max.set = 1800M
pieces.preload.type.set = 0
pieces.hash.on_completion.set = no

# While editing: please remember there are other people on your server!
directory.default.set = ~/Torrents
session.path.set = ~/data/rTorrent/session

system.file.max_size.set = 1000G
system.file.allocate = 1

#network.scgi.open_local = ~/.rtorrent.socket
network.scgi.open_port = 127.0.0.1:5000
network.send_buffer.size.set = 16M
network.receive_buffer.size.set = 16M
network.max_open_sockets.set = 1000
network.http.max_open.set = 100
network.max_open_files.set = 600
network.http.dns_cache_timeout.set = 20
network.xmlrpc.size_limit.set = 16M
network.port_range.set = 20000-60000
network.port_random.set = yes

trackers.use_udp.set = yes
trackers.numwant.set = 224

# Increasing these values does not normally increase speed but can negatively impact the server -- please be careful
throttle.min_peers.normal.set = 8
throttle.max_peers.normal.set = 224
throttle.min_peers.seed.set = 8
throttle.max_peers.seed.set = 224
throttle.max_uploads.global.set = 144



protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
encoding.add = utf8
method.insert = system.startup_time, value|const, (system.time)


#ipv4_filter.load = /etc/seedbox/config/localnet, preferred